<html lang='pt-BR'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      .message-content { font-family: Archivo, Helvetica, sans-serif; max-width:
      600px; font-size: 16px; line-height: 21px; background-color: #F0F0F0;
      border-radius: 0.5rem; padding: 24px; color: #014365; text-align: center;
      margin-inline: auto} .button { font-family: Archivo, Helvetica, sans-serif; background-color:
      #33C2C0; color: #F0F0F0; padding: 16px 24px; border: none; border-radius:
      6px; cursor: pointer; margin: 24px; text-decoration: none; display:
      inline-block; } .detail { color: #7A7786; font-size: 12px; }
    </style>
  </head>
  <body>
    <div class='message-content'>
      <h2>Olá, {{username}},</h2>
      <hr />
      <p>Recebemos um aleta de ocorrência próximo a sua residência,</p>
      <p>Solicitamos que tome cuidado e caso esteja correndo risco de vida ligue para uma autoridade gvernamental.</p>
    </div>
  </body>
</html>